<footer class="footer">
    <div class="container container--wide">
        <div class="footer__inner">
            <p class="footer__copy">&copy; 2024 Macro Blog. All rights reserved.</p>
            <nav class="footer__links">
                <a href="/" class="footer__link">Home</a>
                <a href="/about" class="footer__link">About</a>
                <a href="/blogs/create" class="footer__link">New Post</a>
            </nav>
        </div>
    </div>
</footer>