        <nav class="nav">
            <div class="container container--wide">
                <div class="nav-branding">
                    <a href="/"><h1 class="site-title">Macro Blog</h1></a>
                    <span class="site-tagline">Tech updates</span>
                </div>

                <ul class="nav__list">
                    <li><a href="/" class="nav-link">Home</a></li>
                    <li><a href="/about" class="nav-link">About</a></li>
                    <li><a href="/blogs/create" class="nav-link nav-link--cta">New Post</a></li>
                </ul>
            </div>
        </nav>
