<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <main class="main">
        <div class="container">
            <div class="error-page content center">
                <h2 class="error-title">404 - Page Not Found</h2>
                <p class="error-message">Sorry, the page you're looking for doesn't exist. Please check the URL or return to the home page.</p>
                <a href="/" class="btn btn--primary">Return to Home</a>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>